<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th>Quantity</th>
      <th>Total</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% basket.each do |basket| %>
    <tr>
      <td><%= basket[:product].name %></td>
      <td><%= basket[:product].price %></td>
      <td><%= basket[:quantity] %></td>
      <td><%= basket[:total_price] %></td>
      <td>
        <form  action="/basket/delete" method="post">
          <input name="_method" type="hidden" value="DELETE" />
          <input type="hidden" name="product_id" value="<%= basket[:product].id %>"/>
          <input type="submit" value="Delete from basket">
        </form>
      </td>
    </tr>
    <% end %>
  </tbody>
  <tfoot>
    <tr>
      <td></td>
      <td></td>
      <td>Summary</td>
      <td><%= basket.map{ |basket| basket[:total_price] }.reduce(:+) %></td>
    </tr>
  </tfoot>
</table>
